<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>野菜識別器</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <img class="header_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <a class="header-logo" href="#">野菜識別器</a>
    </header>

    <div class="main">    
        <h2> AIが送信された画像の野菜を識別します</h2>
        <p>【対応野菜一覧(20種類)】</p>
        <p>アスパラガス 枝豆 かぼちゃ キャベツ きゅうり 小松菜 さつまいも じゃがいも 春菊 セロリ</p>
        <p>玉ネギ 大根 トマト ナス ニンジン ニンニク 長ネギ ピーマン ほうれん草 レタス</p>
        <h3>画像を送信してください</h3>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <img class="footer_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <small>&copy; 2022 Yukimura</small>   
    </footer>
</body>
</html>